<% @content_heading = "New role" %>
<%= error_messages_for :role %>

<% form_for([:admin,@role]) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_roles_path %>
